/PalitoBall/packages
/PalitoBall/PalitoBall/PalitoBall.Droid/bin
/PalitoBall/PalitoBall/PalitoBall.Droid/obj
/PalitoBall/PalitoBall/PalitoBall.Droid/PalitoBall.Droid.csproj.bak
/PalitoBall/PalitoBall/PalitoBall.Droid/PalitoBall.Droid.csproj.user
/PalitoBall/PalitoBall/PalitoBall/bin
/PalitoBall/PalitoBall/PalitoBall/obj
/PalitoBall/PalitoBall/PalitoBall/PalitoBall.Droid.csproj.user